<ion-toolbar class="black-toolbar">
  <ion-buttons slot="start">
    <ion-back-button class="white-icons" defaultHref="/tabs/chapter"></ion-back-button>
  </ion-buttons>
  Introduction   
</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum soluta ad saepe
   consectetur doloremque delectus ipsum asperiores dolore obcaecati illum odit 
   aut autem quibusdam quod sapiente repudiandae, quam expedita?
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum soluta ad saepe
   consectetur doloremque delectus ipsum asperiores dolore obcaecati illum odit 
   aut autem quibusdam quod sapiente repudiandae, quam expedita?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum soluta ad saepe
   consectetur doloremque delectus ipsum asperiores dolore obcaecati illum odit 
   aut autem quibusdam quod sapiente repudiandae, quam expedita?
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum soluta ad saepe
   consectetur doloremque delectus ipsum asperiores dolore obcaecati illum odit 
   aut autem quibusdam quod sapiente repudiandae, quam expedita?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum soluta ad saepe
   consectetur doloremque delectus ipsum asperiores dolore obcaecati illum odit 
   aut autem quibusdam quod sapiente repudiandae, quam expedita?
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum soluta ad saepe
   consectetur doloremque delectus ipsum asperiores dolore obcaecati illum odit 
   aut autem quibusdam quod sapiente repudiandae, quam expedita?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum soluta ad saepe
   consectetur doloremque delectus ipsum asperiores dolore obcaecati illum odit 
   aut autem quibusdam quod sapiente repudiandae, quam expedita?
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolorum soluta ad saepe
   consectetur doloremque delectus ipsum asperiores dolore obcaecati illum odit 
   aut autem quibusdam quod sapiente repudiandae, quam expedita?
</p>
</ion-content>
